{% extends "global/base.html" %}
{% block content %}
<div class="navio-header">
        <h1 class="single-navio-title">Detalhes do Navio</h1>
        
        <div class="navio-links">
            <a class="btn btn-link" href="{% url 'duvs:navio_update' navio.id %}">Editar Navio</a>

            <form action="{% url 'duvs:navio_delete' navio.id %}" method="POST">
                {% csrf_token %}

                {% if confirmation == 'no' %}
                    <input type="hidden" name="confirmation" value="yes">
                    <button class="btn btn-link btn-delete" type="submit">Você tem certeza?</button>
                {% else %}
                    <button class="btn btn-link btn-delete" type="submit">Excluir Navio</button>
                {% endif %}
            </form>
      </div>
</div>
<div class="single-navio">
    <img src="{{ navio.imagem.url }}" alt="Foto do {{ navio.nome }}" class="navio-detail-image">
    <div class="navio-info">
        <h2>{{ navio.nome }}</h2>
        <p><b>ID:</b> {{ navio.id }}</p>
        <p><b>Bandeira:</b> {{ navio.bandeira|capfirst }}</p>
    </div>
</div>
{% endblock content %}